---
type ProductCardData = {
  id?: number | string;
  name: string;
  description: string;
  price: string;
  detailHref?: string;
  amazonHref?: string;
};

const { product } = Astro.props as { product: ProductCardData };
---

<article class="product-card">
  <div class="product-card-content">
    <div>
      <h2>{product.name}</h2>
      <p>{product.description}</p>
    </div>

    <div class="product-card-footer">
      <span>{product.price}</span>
       <div class="product-card-actions">
        {product.detailHref && (
          <a class="btn btn-small" href={product.detailHref}>Detalles</a>
        )}
        {product.amazonHref && (
          <a
            class="btn btn-small btn-amazon"
            href={product.amazonHref}
            target="_blank"
            rel="noopener noreferrer"
          >
            Amazon
          </a>
        )}
      </div>
    </div>
  </div>
</article>
